Flask==3.0.2
numpy==1.24.2
openai==1.14.3
pandas==1.5.3
scikit-learn==1.2.2
scipy==1.10.1
tenacity==8.2.3
gcloud==0.18.3
gcsfs==2024.3.1
google-api-core==2.18.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
python-dotenv==1.0.0